/* CSS Document */
a{ cursor:pointer;}
.lf{ float:left;}
.rg{ float:right;}
s{ text-decoration:none;}
p{ display:inline;}
.lfp{ float:left; margin-left:10px;}
/* color 颜色 */
.red{ color:#F00;}
.green{ color:#07BF0B;}
.blue{ color:#1a00da;}
.grey{ color:#B7B7B7;}
/* title 标题 */
.account_box{width:390px;background:#FFF; border:1px solid #23b7fa;}
.account_box .account_title{_width:542px; height:31px; line-height:31px; background:url(../images/pub_bg.gif) repeat-x 0 -200px; padding-left:15px;}
.account_box .account_title b{ float:left;}
.account_box .account_title span{ float:right; padding:7px 10px 0 0;}
/* account_cont  */
.account_box .account_main{ height:90px;padding:10px; border:none; background:none;}
.account_cont .cont_lf{ float:left; width:80px; text-align:right;}
.account_cont .cont_lf .h20{_height:23px; _line-height:23px; margin-bottom:8px;}
.account_cont .cont_rg{ float:right; width:290px;}
.account_cont .cont_rg ol li.h20 ul li{ display:inline; float:left;}
.account_cont .cont_rg ol li.h20 a{ display:block; width:48px; float:left; height:20px; background:url(../images/icon.gif) repeat-x 0 -200px; color:#000; font-weight:bold; text-align:center; line-height:20px; text-decoration:none; margin-left:10px;}
.account_cont .cont_rg ol li.h20 a:hover{ color:#FFF; font-weight:bold; text-align:center; line-height:20px; text-decoration:none;background:url(../images/icon.gif) repeat-x 0 -250px;}
.account_cont .cont_rg ol li.h20 span{ padding-left:10px;}
.account_cont .cont_rg ol li.h20 s{ float:left; color:#999;}
.account_cont .cont_rg ol li.h20 s.shuzi{ display:block; width:50px; height:20px; line-height:20px; text-align:center; border:1px solid #999;}
.account_cont .cont_rg ol li.h20 s.dao{ margin:0 6px;}
.account_cont .cont_rg ol li.h20 form{ float:left;}
.account_cont .cont_rg ol li.h20 .input_times{ margin-top:1px; float:left; height:16px;}
.account_cont .cont_rg ol li.h20 select.select_grey{ color:#B7B7B7; border:1px solid #7f9db9;}
.account_cont .cont_rg ol li.h20 select.select_pad option.s_option { padding-left:0px;}
.input_calendar{ border:1px solid #7F9DB9; border-left:none; _margin-left:-3px;}
.h5{ height:5px; line-height:22px;}
.h8{ height:8px; line-height:22px; margin-bottom:8px;}
.h20{ height:22px; line-height:22px; margin-bottom:8px; overflow:hidden;}
.h16{ height:16px; line-height:16px; margin-bottom:8px; overflow:hidden;}
.h28{ height:30px; line-height:16px;overflow:hidden;}
/* c_btn 两个按钮居中 */
.c_btn{ clear:both; width:390px; height:22px ; padding-bottom:10px;}
.c_btn ol{ width:390px;}
.c_btn ol li{ width:150px; height:22px;}
.c_btn ol li a{ display:block; width:50px; height:22px; line-height:22px; float:left; text-align:center; font-weight:bold; background:url(../images/icon.gif) no-repeat 0 -300px; margin: 0 10px;}
.c_btn ol li a:link,.c_btn ol li a:visited{ color:#000; font-weight:bold;text-decoration:none;}
.c_btn ol li a:hover{ background:url(../images/icon.gif) no-repeat 0 -250px; font-weight:bold;color:#FFF; text-decoration:none;}





